<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.dao.OrganizationDaoI">

	<!-- 根据时间查询,查找大于此时间的数据 -->
	<select id="getNewDateByUpdateTime" parameterType="java.lang.String"
		resultType="com.lin.domain.Organization">
		select
       t.organ_id organizationID,
       t.organ_name organizationName,
       to_char(t.update_date,'yyyy-mm-dd hh24:mi:ss') updateDate,
       t.organ_user_count userCount,
       t.organ_online_count onlineCount,
       nvl(t.pid ,'0') pID,
       t.status type,
       t.flag flag,
       t.org_order zimuname
       from appuser.address_organization t
			where t.update_date &gt; 
			to_date(#{0},'yyyy-mm-dd hh24:mi:ss')
	   and not exists (
		      select 1 from appuser.address_blackorglist b
		      where b.org_id = t.organ_id
		) 		
	</select>
	
	<resultMap id="OrganzResul" type="com.lin.domain.OrgTer">
		<result property="organizationName" column="organ_name" />
		<result property="organizationId" column="organ_id" />
	</resultMap>
	
	<resultMap id="OrgTerResul" type="com.lin.domain.OrgTer">
		<result property="terName" column="ter_name" />
		<result property="terId" column="ter_id" />
	</resultMap>
	
	<!--查询省份  -->
	<select id="selectOrgName" parameterType="java.lang.String"
		resultMap="OrganzResul">
		    select organ_id, organ_name
      from (select decode(o.organ_id,
                          '1844641',
                          '1944640',
                          '1844643',
                          '1950134',
                          o.organ_id) organ_id,
                   o.organ_name
              from appuser.address_organization o
             where o.pid = '0'
               and not exists (select 1
                      from appuser.address_blackorglist b
                     where b.org_id = o.organ_id)
             order by org_order)
<!--      select organ_id,organ_name  from (
		select o.organ_id,o.organ_name
		  from appuser.address_organization o
		 where o.pid = '0'
		 and not exists (
		      select 1 from appuser.address_blackorglist b
		      where b.org_id = o.organ_id
		) 
		order by org_order) -->
	</select>
	
	<!--查询领域  -->
	<select id="selectTerName" parameterType="java.lang.String"
		resultMap="OrgTerResul">
	 select ter_id,ter_name from appuser.address_territory
	</select>
	
	<select id="getOrganizationByOrganid" parameterType="java.lang.String"
		resultType="com.lin.domain.Organization">
		select
       t.organ_id organizationID,
       t.organ_name organizationName,
       to_char(t.update_date,'yyyy-mm-dd hh24:mi:ss') updateDate,
       t.organ_user_count userCount,
       t.organ_online_count onlineCount,
       nvl(t.pid ,'0') pID,
       t.status type,
       t.flag flag,
       t.org_order zimuname
       from appuser.address_organization t
       where t.organ_id = '${_parameter}'
	</select>
	
	<select id="fiveCityOrganization" parameterType="java.lang.String"
		resultType="com.lin.domain.Organization">
		   select tc.organizationID,
               tc.organizationName,
               tc.updateDate,
               tc.userCount,
               tc.onlineCount,
               tc.pID,
               tc.type,
               tc.flag,
               tc.zimuname ,
               tc.zimuname orderValue from (
              select o.organ_id organizationID,
                   decode (o.pid,'0',o.organ_name,(op.organ_name  || '-' || o.organ_name)) organizationName,
                   to_char(o.update_date,'yyyy-mm-dd hh24:mi:ss') updateDate,
                   o.organ_user_count userCount,
                   o.organ_online_count onlineCount,
                   '0' pID,
                   o.status type,
                   o.flag flag,
                   decode(o.organ_id,
                           '1944700',10,'1944680',11,'1944690',12,'1944699',13,'1944681',14，
                          '1944683',15,'1944642',16,'1944707',17,'1944704',18,'1944706',19，
                          '1944714',20,'1944717',21,'1944708',22,'1944719',23,'1944729',24，
                          '1944724',25,'1944725',26,'1944723',27,'1944722',28,'1944735',29，
                          '1944730',30,'1944738',31,'1944664',32,'1944606',33,'1945062',34，
                          '1944739',35,'1945073',36,'1945087',37,'1945098',38,'1944507',39，
                          '1944556',40,'1944649',41,'1944520',42,'1945293',43,'1945294',44，
                          '1945234',45,'1944574',46,'1945238',47,'1944665',48,'1945339',49，
                          '1944952',50,'1945122',51,'1945310',52,'1945242',53,'1945246',54，
                          '1945329',55,'1944950',56,'1945340',57,'1945353',58,'1944565',59) zimuname 
                   from appuser.address_organization o 
                   left join  appuser.address_organization op 
                   on op.organ_id = o.pid
                   where o.organ_id in (
                         '1944700','1944680','1944690','1944699','1944681'，
                         '1944683','1944642','1944707','1944729','1944706'，
                         '1944714','1944717','1944708','1944719','1944724'，
                         '1944704','1944725','1944723','1944722','1944735'，
                         '1944730','1944738','1944664','1944606','1945062'，
                         '1944739','1945073','1945087','1945098','1944507'，
                         '1944556','1944649','1944520','1945293','1945294'，
                         '1945234','1944574','1945238','1944665','1945339'，
                         '1944952','1945122','1945310','1945242','1945246'，
                         '1945329','1944950','1945340','1945353','1944565')
              union all 
              SELECT o.organ_id organizationID,
                   o.organ_name organizationName,
                   to_char(o.update_date,'yyyy-mm-dd hh24:mi:ss') updateDate,
                   o.organ_user_count userCount,
                   o.organ_online_count onlineCount,
                   nvl(o.pid ,'0') pID,
                   o.status type,
                   o.flag flag,
                   o.org_order zimuname
                FROM appuser.address_organization o
               WHERE pID !='0'
                and o.organ_id not in (
                         '1944700','1944680','1944690','1944699','1944681'，
                         '1944683','1944642','1944707','1944729','1944706'，
                         '1944714','1944717','1944708','1944719','1944724'，
                         '1944704','1944725','1944723','1944722','1944735'，
                         '1944730','1944738','1944664','1944606','1945062'，
                         '1944739','1945073','1945087','1945098','1944507'，
                         '1944556','1944649','1944520','1945293','1945294'，
                         '1945234','1944574','1945238','1944665','1945339'，
                         '1944952','1945122','1945310','1945242','1945246'，
                         '1945329','1944950','1945340','1945353','1944565'
               )
               START WITH o.organ_id  in (select o.organ_id from appuser.address_organization o where 
              o.organ_id in (
                         '1944700','1944680','1944690','1944699','1944681'，
                         '1944683','1944642','1944707','1944729','1944706'，
                         '1944714','1944717','1944708','1944719','1944724'，
                         '1944704','1944725','1944723','1944722','1944735'，
                         '1944730','1944738','1944664','1944606','1945062'，
                         '1944739','1945073','1945087','1945098','1944507'，
                         '1944556','1944649','1944520','1945293','1945294'，
                         '1945234','1944574','1945238','1944665','1945339'，
                         '1944952','1945122','1945310','1945242','1945246'，
                         '1945329','1944950','1945340','1945353','1944565'
              ))
              CONNECT BY PRIOR   o.organ_id = o.pid 
            ) tc 
            where not exists (
		      select 1 from appuser.address_blackorglist b
		      where b.org_id = tc.organizationID
			) 
            order by tc.zimuname asc
	</select>
	<select id="organizationByPID" parameterType="java.lang.String"
		resultType="com.lin.domain.Organization">
		select t.organ_id organizationID,
			       t.organ_name organizationName,
			       to_char(t.update_date,'yyyy-mm-dd hh24:mi:ss') updateDate,
			       t.organ_user_count userCount,
			       t.organ_online_count onlineCount,
			       nvl(t.pid ,'0') pID,
			       t.status type,
			       t.flag flag,
			       t.zimuname zimuname,
			       t.org_order orderValue
		from appuser.address_organization t
			where t.pid = '${_parameter}'
			and not exists (
		      select 1 from appuser.address_blackorglist b
		      where b.org_id = t.organ_id
		) 
			order by t.org_order   
	</select>
	<select id="downOrganization" parameterType="java.lang.String"
		resultType="com.lin.domain.Organization">
		select t.organ_id organizationID,
			       t.organ_name organizationName,
			       to_char(t.update_date,'yyyy-mm-dd hh24:mi:ss') updateDate,
			       t.organ_user_count userCount,
			       t.organ_online_count onlineCount,
			       nvl(t.pid ,'0') pID,
			       t.status type,
			       t.flag flag,
			       t.zimuname zimuname,
			       t.org_order  orderValue
		from appuser.address_organization t
		where  not exists (
		      select 1 from appuser.address_blackorglist b
		      where b.org_id = t.organ_id
		)  
		START WITH t.organ_id  = '${_parameter}'
		CONNECT BY PRIOR   t.organ_id = t.pid
		order by t.org_order   
	</select>
	<!-- 查询每天积分 -->
 	<select id="getCountIntegralByDay" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1)
		  from tm_integral_recode
		 where staff_id = '${StaffId}'
		   and busi_code = '${BusiCode}'
		   and trunc(create_time) = trunc(sysdate)
 	</select>
</mapper>