<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"

	xmlns:p="http://www.springframework.org/schema/p"
	
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

    xmlns:mvc="http://www.springframework.org/schema/mvc"

    xmlns:context="http://www.springframework.org/schema/context"
  
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd

        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
     
     
<!-- 	<mvc:resources location="/WEB-INF/view/images/" mapping="/images/**"/>  
	<mvc:resources location="/WEB-INF/view/js/" mapping="/js/**"/>  
	<mvc:resources location="/WEB-INF/view/css/" mapping="/css/**"/>  
    <mvc:default-servlet-handler />  
	<mvc:annotation-driven /> -->

    <!-- 扫描controller（controller层注入） -->
   <context:component-scan base-package="com.lin"/>
   <!-- 对模型视图添加前后缀 -->
      <bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
		<property name="viewClass"
			value="org.springframework.web.servlet.view.InternalResourceView" />
		<property name="order" value="1"></property>
		<property name="contentType"><value>text/html; charset=UTF-8</value></property>
		<property name="cache"><value>true</value></property>
      </bean>
      
     <mvc:annotation-driven>
     	 <mvc:message-converters> 
        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"> 
            <property name="objectMapper"> 
                <bean class="com.lin.util.JsonObjectMapper"></bean> 
            </property>
        </bean>
    </mvc:message-converters>  
     </mvc:annotation-driven> 
      
</beans>